@model CadEmprestimoViewModel
@{
    ViewData["Title"] = "Cadastro de Emprestimos";
}

<h1 class="row justify-content-md-center">Cadastro de Empréstimo</h1>
<div class="row justify-content-md-center">
    <form asp-action="Cadastro" method="POST" class="col-md-4">
        <fieldset>
            <legend>Usuario</legend>
            <div class="form-group">
                <label asp-for="Emprestimo.NomeUsuario">Nome</label>
                <input asp-for="Emprestimo.NomeUsuario" class="form-control" id="txtNome" onblur="validaNome()"/>
            </div>
            <div class="form-group">
                <label asp-for="Emprestimo.Telefone">Telefone</label>
                <input asp-for="Emprestimo.Telefone" class="form-control"  placeholder="00-00000-0000" id="txtTelefone" onblur="validaTelefone()" pattern="[0-9]{2}-[0-9]{5 || 4}-[0-9]{4}" required/>
            </div>
        </fieldset>
        <fieldset>
            <legend>Livro</legend>
            <div class="form-group">
                <label asp-for="Emprestimo.DataEmprestimo">Data de Empréstimo</label>
                <input type="date" asp-for="Emprestimo.DataEmprestimo" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Emprestimo.DataDevolucao">Data de Devolução</label>
                <input type="date" asp-for="Emprestimo.DataDevolucao" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Emprestimo.LivroId">Livro</label>
                <select asp-for="Emprestimo.LivroId" class="form-control">
                    @foreach(Livro l in Model.Livros)
                    {
                        <option value="@l.Id">@l.Titulo</option>
                    }
                </select>
            </div>
        </fieldset>
        <input type="submit" value="Salvar" class="btn btn-primary"/>
    </form>
</div>

<script>
   
   function validaNome()
 {
    var valorNome = document.getElementById("txtNome").value;

    if (valorNome.length == 0) {
        alert("campo não pode ficar vazio!!");
        document.getElementById("txtNome").style.background = "red";
        return false;      
    }
   
     else{
        document.getElementById("txtNome").style.color = "black";
        document.getElementById("txtNome").style.background = "white";
        return true;
    }
 }
    

 function validaTelefone()
 {
    var valorTelefone = document.getElementById("txtTelefone").value;

    if (valorTelefone.length == 0) {
        alert("campo não pode ficar vazio!!");
        document.getElementById("txtTelefone").style.background = "red";
        return false;      
    }
    else if(valorTelefone.length <= 10 || valorTelefone >= 13){
        alert("digíte no formato correto! (00-00000-0000)");
        document.getElementById("txtTelefone").style.background = "red";
        return false;
    }
     
     else{
        document.getElementById("txtTelefone").style.color = "black";
        document.getElementById("txtTelefone").style.background = "white";
        return true;
    }
   }


</script>